.article-container {
  display: flex;
  flex-direction: column;
}

.article-user-div {
  display: flex;
  gap: 10px;
}

.article-user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.article-user-name {
}

.article-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-image-img {
  width: 70%;
  height: 70%;
}

.article-like-div {
  display: flex;
  gap: 10px;
}

.article-like-icon {
}

.article-like-count {
}

.article-control-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.article-control-button {
}

.article-content-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-content-title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-content-title {
}

.article-content-description-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-content-description {
}

.article-content-text {
  font-weight: bold;
}

.article-comment-div {
  display: flex;
}

.article-comment-count {
  &:hover {
    cursor: pointer;
    color: #ffc0cb;
  }
}

.article-createdtime-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.article-createdtime-text {
  font-size: 1.5rem;
  color: #747bff;
}
